
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

main.container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

#contact-content {
    margin-left: 5px;
    line-height: 2.0em;
}

#contact-content i {
    margin-right: 8px;
    font-size: 20px;
    vertical-align: middle;
}

.profile {
    max-width: 100px;
    border-radius: 50%;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 5px;
}

.blog .profile {
    max-width: 50px;
    margin-left: 10px
}

h1, h2, strong {
    font-weight: 500;
    color: #667;
}

h1 {
    margin-bottom: 40px;
    clear: both;
}

.blog h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
    font-weight: 400;
}

p, li {
    font-size: 15px;
}

p, li, figcaption {
    color: #566b78;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: #185cdc;
}

a:hover {
    text-decoration: underline;
}

.yt-caption {
    float: right;
    margin: 0px;
    margin-top: 3px;
    font-size: 14px;
}

.img-banner {
    width: 100%;
}

figure {
    margin: 0px;
    padding: 7px;
    border: 1px solid #ddd;
    font-size: 12px;
    float: right;
    width: 33%;
    margin-left: 15px;
    margin-bottom: 15px;
}

hr {
    border: none;
    background-color: #ccc;
    margin-bottom: 35px;
    height: 1px;
}

.tldr {
    clear: both;
    background: rgba(200,0,0,0.1);
    padding: 15px;
    border-left: 5px solid rgba(200,0,0,0.3);
}

.darkmode {
    background: rgba(0,0,0,0.95);
}

.darkmode main.container {
    border-right: 1px solid rgba(250,250,250,0.05);
    border-left: 1px solid rgba(250,250,250,0.05);
}

.darkmode h1 {
    color: lightsalmon;
}

.darkmode h2 {
    color: lightsalmon;
}

.darkmode p, .darkmode strong, .darkmode li, .darkmode figcaption {
    color: rgba(250,250,250,0.8);
}

.darkmode a {
    color: powderblue;
}

@media (max-width: 750px) {
    main.container {
        padding: 15px;
        border-right: none;
        border-left: none;
    }

    .darkmode main.container {
        padding: 15px;
        border-right: none;
        border-left: none;
    }
}

#light-toggle {
    background: none;
    border: none;
    color: rgba(250,250,250,0.8);
    font-size: 25px;
    float: right;
    position: relative;
    bottom: 20px;
    left: 15px;
}

#light-toggle:hover {
    cursor: pointer;
    opacity: 0.8;
}
